---
// import { Image } from 'astro:assets';
const { alt, src, width, height } = Astro.props;
// console.log(Astro.props)
---

<div class="relative" >
  <img alt={alt} src={src} width={width} height={height} />
</div>
