---
import PageLayout from "../layouts/Page.astro";
import Social from '../components/Social/Social.jsx';
import Trinomia from '../components/Trinomia.jsx';
---

<PageLayout>
  <h3 class="sr-only">santuan.web arroba gmail.com</h3>
  <Social client:visible/>
</PageLayout>
