---
import PageLayout from "../layouts/Page.astro";
import Social from '../components/Social/Social.jsx';
---

<PageLayout>
  <h1 class="sr-only">Contacto</h1>
  <h2 class="sr-only">santuan.web arroba gmail.com</h2>
  <Social client:visible/>
</PageLayout>
