---
import Layout from "@/layouts/PageFull.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/config";
import Heading from "@/components/Plugs/Heading.astro";
import { getCollection, getEntry } from "astro:content";
import Footer from "@/components/Footer/Footer.astro";
import ScrollSnap from "@/components/ScrollSnap/ScrollSnap";
const posts = await getCollection("extractos");
---

<Layout bodyClass="extractos">
  <div class="w-full h-screen px-4 overflow-y-auto snap-y snap-mandatory">
    <div
      class="pt-24 flex justify-center mx-auto snap-center items-start w-full flex-col max-w-3xl sm:px-12"
    >
      <Heading title="Extractos" subtitle="Colección de pequeños textos." />
    </div>
    <section>
      {
        posts.map((post) => (
          <div class="min-h-screen flex justify-center items-center w-full  ">
            <article class="font-serif bg-primary-foreground/50 backdrop-blur-sm p-8 sm:p-12 rounded-md overflow-hidden shadow relative">
              <div class="relative grid gap-1 z-10">
                <h2 class="text-2xl font-bold">{post.data.title}</h2>
                <p>
                  <i>— {post.data.description} —</i>
                </p>
                <q>{post.body}</q>
              </div>
            </article>
          </div>
        ))
      }
    </section>
    <div class="snap-start">
      <Footer />
    </div>
  </div>
</Layout>

<style scoped>
  section {
    @apply w-full max-w-2xl mx-auto;
    @apply min-h-screen flex justify-center snap-center items-center w-full;
  }

  body.extractos {
    @apply overflow-hidden;
  }
</style>
